{
    "parserOptions": {
        "parser": "@babel/eslint-parser",
        "sourceType": "module",
        "parser":"babel-eslint",
        "ecmaVersion": 6,
        "ecmaFeatures": {
          "experimentalObjectRestSpread": true
        }
        
    }
    
  }